@import url('https://fonts.googleapis.com/css2?family=Georgia:wght@400;700&display=swap');

body {
  font-family: 'Georgia', serif;
  background-color: #40362E;
  color: #fff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-container {
  background-color: #40362E;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#time-left {
  font-size: 3em;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.hover:hover {
  background-color: #5a4c3d;
  transition: background-color 1s ease;
}

.fade {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
